    /*
    commento tipico di CSS
    stylesheet for my final project, MAT 21a, DCI Berlin
    */

/*
always start with a RESET, see below -> it's a reset
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Layout
*/

h1,h2,h3,h4,h5,h6,
p,
nav ul {
    padding-left: 20px;
    margin-top: 1em;
}

main {
    padding: 500em;
}

div {
    height: 500px;
    width: 700px;
    margin: 0 auto;
}
/*
Colors and Style
*/

body {
    background-color: yellow;
}

header {
    background-color: ivory;
}

footer {
    background-color: ivory;
}

div {
    background-color: yellow;
}

.first-words-work-section {
    background-color: white;
    color: black;
    padding: 0 5px;
}
/*
Navigation
*/

/* nav ul {
    to erase dots in every unordered list contained in a navigation section (nav tag) 
    list-style-type: none; 
} */

 /* nav.main-navigation ul {
    to erase dots in every unordered list contained in a navigation section (nav tag) 
    list-style-type: none; */
}

nav.main-navigation {
text-transform: uppercase;
}

nav.main-navigation ul {
    text-align: center;
}

/* what is this function? */
nav.main-navigation ul li {
display: inline-block;
}

nav.main-navigation ul li a{
text-decoration: none;
color: black;
background-color:  ;
padding: 0px 9px;
font-weight: 600;
}

nav.main-navigation ul li a:hover {
color: yellow;
background-color: white;
}


/*
Typography
*/

body {
    font-family: 'Lexend Mega', sans-serif;
}

p {
    line-height: 1.5em;
}

.work-page {
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    margin: 5px;
}
/*
Responsive Design
*/